@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    height: 100vh;
    width: 100vw;
    background: url(background.jpg);
    background-size: cover;
}

.navbar {
    position: absolute;
    padding: 10px;
    display: flex;
    justify-content: right;
    width: 100%;
    box-sizing: border-box;
}

.navbar a {
    color: white;
}

.logo {
    font-size: 2em;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    font-weight: bold;
    width: 100%;
}

.card {
    backdrop-filter: blur(10px) saturate(144%);
    -webkit-backdrop-filter: blur(10px) saturate(144%);
    background-color: rgba(17, 25, 40, 0.32);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}


.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 25%;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sidebar li{
  height: 50px;
  width: 100%;
}

.sidebar a{
  height: 100%;
  width: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}

.sidebar a:hover{
  background-color: black;
}

.sidebar li:first-child{
  margin-right: auto;
}

.menu-button{
  display: none;
}

@media screen {
  .menu-button{
    display: block;
  }
}
@media screen {
  .sidebar{
    width: 25%;
  }
}